<footer>
    <div class="f-info">
        <div class="socila-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="links"> <a href="/privacy">Privacy Policy</a><a href="/terms&condition">&nbsp;&nbsp; &nbsp;Terms and
                Condition</a></div>
        <div class="copyright">&copy;2024 WanderLust</div>
    </div>
</footer>